default:
  listen: 8090
  mode: debug
  push_kubernetes: false
  push_images: false

server:
  auth:
    access_key: access_key
    secret_key: secret_key

agent:
  name: test-agent
  data_dir: /tmp

plugin:
  callback: http://127.0.0.1:8090
  task_id: 20220801
  synced: true

mysql:
  host: peng
  user: root
  password: Pixiu868686
  port: 3306
  name: rainbow

registry:
  repository: harbor.cloud.pixiuio.com
  namespace: pixiucloud
  username: test
  password: test

kubernetes:
  version: v1.23.6

images:
  - docker.io/nginx:latest
