default:
  listen: 8090
  mode: debug
  push_kubernetes: false
  push_images: false

server:
  harbor:
    url: registry.cn-shanghai.aliyuncs.com
    namespace: puzhihao
    username: 其实我爱你i28_tf9mof
    password: Lxj905655*
  auth:
    access_key: access_key
    secret_key: secret_key

# 守护进程
rainbowd:
  name: test-name
  template_dir: /tmp/plugin
  data_dir: /tmp
  agent_image: swr.cn-north-4.myhuaweicloud.com/pixiu-public/rainbow-agent:v1.1
  nodes:
    - name: test-name
      host: kirin

agent:
  name: agent-dev
  data_dir: /tmp
  retain_days: 5

rocketmq:
  name_servers:
    - 192.168.100.250:9876
  group_name: test
  topic: test
  credential:
    access_key: test
    secret_key: test

plugin:
  callback: http://127.0.0.1:8090
  task_id: 20220801
  synced: true
  driver: docker #skopeo or docker

builder:
  callback: http://127.0.0.1:8090
  builder_id: 20220802
  registry_id: 20220801
  arch: linux/amd6 #linux/amd64,linux/arm64,linux/arm/v7
  repo: nginx:v1
  dockerfile: "RlJPTSByZWdpc3RyeS5jbi1zaGFuZ2hhaS5hbGl5dW5jcy5jb20vcHV6aGloYW8vY29uc3VsLWs4cy1jb250cm9sLXBsYW5lOjEuOS4y"

rate_limit:
  user_rate_limit:
    ## 最大存储客户端IP数量
    cap: 200
    ## 单个客户端IP最大令牌数
    capacity: 100
    ## 每次补充令牌数
    quantum: 20
  normal_rate_limit:
    max_requests: 1000
  special_rate_limit:
    rate_limited_path:
      - "/rainbow/search"
    max_requests: 100

mysql:
  host: 192.168.100.250
  user: root
  password: rootpassword
  port: 3306
  name: rainbow

redis:
  addr: redis:6379
  username: ""
  password: ""
  db: 0

registry:
  repository: registry.cn-shanghai.aliyuncs.com
  namespace: puzhihao
  username: 其实我爱你i28_tf9mof
  password: Lxj905655*

kubernetes:
  version: v1.23.6

images:
  - name: nginx
    id: 20220801
    path: docker.io/nginx
    tags:
      - latest
      - v1.0.1
